.card-contact {
    border: 0;
}

.card-contact img {
    object-fit: cover;
}

iframe {
    border: 0;
}

.content-watsapp {

    position: fixed;
    right: 10px;
    bottom: 10px;
}

.logo-imag {
    position: fixed;
}